/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 21, 2024, 9:00:56 AM
    Author     : Usuário
*/
main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 700px;
    margin: 0 auto;
}
